<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Controller\Product\View" type="Unit2\WorkWithController\Controller\Product\View" />
    <!--<type name="Magento\Catalog\Controller\Product\View">-->
        <!--<plugin name="product-view-controller-plugin"  type="Unit2\WorkWithController\Controller\Product\View" sortOrder="10"/>-->
    <!--</type>-->
    <type name="Magento\UrlRewrite\Controller\Adminhtml\Url\Rewrite\Save">
        <plugin name="url-rewrite-controller-admin-plugin"  type="Unit2\WorkWithController\Controller\Adminhtml\Url\Rewrite\Save" sortOrder="10"/>
    </type>
</config>